
@{
    ViewBag.Title = "Buscar";
}

<form action="@Url.Action("Buscar")">
    <div class="row">
        <div class="col-md-4">
            <form action=""></form>
            <button type="submit">Buscar</button><br />
            <input type="text" name="filtro" />
        </div>
    </div>
</form>

